In [1]:
# Ejercicio 2: Crear una celda Markdown con el título del block de notas.

# Data Science Tools and Ecosystem

In [9]:
# Ejercicio 3: Crear una celda Markdown para una introducción.

In this notebook, Data Science Tools and Ecosystem are summarized

In [12]:
#Ejercicio 4: Crear una celda Markdown para enumerar lenguajes de ciencia de datos.

Some of the popular languages that Data Science use are:
1. Python.
2. R.
3. Java.

In [15]:
# Ejercicio 5: Creación de una celda Markdown para enumerar bibliotecas en ciencia de datos.

Some of the commonly used libraries used by Data Sciencits include:
1. Pandas.
2. Numpy.
3. TensorFlow.

In [18]:
# Ejercicio 6: Creación de una celda Markdown con una tabla de herramientas de ciencia de datos.

*Data Science Tools* |
---------------------|
*Hadoop* |
*Ceph* |
*KubeFlow*|

In [21]:
# Ejercicio 7: Crear una celda de Markdown introduciendo ejemplos de expresiones aritméticas.

### Below are a few examples of evaluating arithmetic expressions in Python.
1. \$\sqrt{k}$
   
3. $f(x)=y$

In [29]:
# Ejercicio 8: Crear una celda de código para multiplicar y sumar números.

In [33]:
# Esta es una expresión aritmética simple para luego agregar números enteros
x = (3*4)+5
print (x)

17

In [35]:
#Ejercicio 9: Crear una celda de código para convertir minutos en horas.

In [41]:
# Esto convertirá 200 minutos en horas buceando en 60.
x = 200
y = x/60
print (y, "horas")

3.3333333333333335 horas

In [43]:
# Ejercicio 10: Insertar una celda de Markdown para enumerar los objetivos.

In this notebook, Data Science Tools and Ecosystem are summarized

**Los objetivos cubiertos en este cuaderno son**
- Creación de un cuaderno Jupyter Notebook.
- Insertar código y markdown.
- Compartir el bloc de notas a través de GitHub.

In [58]:
# Ejercicio 11: Cree una celda de Markdown para indicar el nombre del autor.

## Name author
## Rocío Rodríguez